div {
    background-color: #8dc6ff;
    height: 400px;
    width: 600px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px black;
    position: relative;
    left: 30%;


}

button {
    width: 60px;
    height: 30px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 5px 5px 10px black;
   

}

.but1 {
    position: relative;
    top: 50px;
    left: 370px;
    background-color: brown;
}

.but2 {
    position: relative;
    top: 50px;
    left: 180px;
    background-color: brown;

}

.but3 {
    position: relative;
    top: 150px;
    left: 250px;
    background-color: rgb(197, 221, 213);
}

.but4 {
    position: relative;
    top: 150px;
    left: 30px;
    background-color: rgb(197, 221, 213);

}

.but5 {
    position: relative;
    top: 150px;
    left: 50px;
    background-color: rgb(197, 221, 213);
}

.but6 {
    position: relative;
    top: 220px;
    left: -40px;
    background-color: pink;
}

.but7{
    position: relative;
    top: 150px;
    left: 150px;
    background-color: rgb(197, 221, 213) ;
}
.head {
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
}

.msg{
    position: relative;
    top: 200px;
    font-size: 25px;
    color: red;
    left: 50px;
}