
    <div class="div1">
        <h2 class="head"> Number Calculation</h2>
        <button class="but1" (click) = "operate('+') ">+</button>
        <button class="but2" (click) = " operate('-')">-</button>
        <button class="but3" (click) = "num(2)">2</button>
        <button class="but4" (click) =  "num(8)">8</button>
        <button class="but5" (click) = "num(5)">5</button>
        <button class="but7" (click) = "num(7)">7</button>
        <button class="but6" (click) = "reset()">reset</button>
        <h3>Result: {{result}}</h3>
        <h4 class="msg">{{message}}</h4>
      
      </div>
      
      