h2{
    color: red;
    font-family: sans-serif;
    text-align: center;
}
p{
    text-align: center;
}
.img{
    background-image: url('/assets/download.jpg');
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
}
